<%= form_with(model: @receiving, local: true, class: "row g-3") do |f| %>
  <% if @receiving.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@receiving.errors.count, "error") %> prohibited this receiving from being saved:</h4>
      <ul class="mb-0">
        <% @receiving.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 col-12 col-md-6">
    <%= f.label :storage_id, class: "form-label" %>
    <%= f.collection_select :storage_id, Storage.all, :id, :name, {prompt: true}, class: "form-select" %>
  </div>

  <h3 class="mt-4">Receiving Items</h3>
  <%= f.fields_for :receiving_items do |ri| %>
    <div class="nested-fields row g-2 align-items-end mb-2">
      <div class="col-12 col-md-4">
        <%= ri.label :item_id, class: "form-label" %>
        <%= ri.collection_select :item_id, Item.all, :id, :name, {prompt: true}, class: "form-select" %>
      </div>
      <div class="col-12 col-md-2">
        <%= ri.label :qty, class: "form-label" %>
        <%= ri.number_field :qty, min: 1, class: "form-control" %>
      </div>
      <div class="col-12 col-md-2">
        <%= ri.label :cost, class: "form-label" %>
        <%= ri.number_field :cost, step: 0.01, class: "form-control" %>
      </div>
      <div class="col-auto">
        <div class="form-check mt-2">
          <%= ri.check_box :_destroy, class: "form-check-input" %>
          <%= ri.label :_destroy, "Remove", class: "form-check-label" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions mt-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
