<%= form_with(model: @shipment, local: true) do |form| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h4>
      <ul>
        <% @shipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :shipped_at, class: "form-label" %>
    <%= form.datetime_local_field :shipped_at, class: "form-control", autocomplete: "off" %>
  </div>

  <div class="mb-3">
    <%= form.label :storage_id, "Storage", class: "form-label" %>
    <%= form.collection_select :storage_id, Storage.all, :id, :name, { prompt: "Select Storage" }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :stock_state, class: "form-label" %>
    <%= form.select :stock_state, Shipment.stock_states.keys.map { |k| [k.titleize, k] }, {}, class: "form-select" %>
  </div>

  <h5>Shipment Items</h5>
  <div id="shipment-items">
    <%= form.fields_for :shipment_items do |item_fields| %>
      <%= render partial: 'shipment_item_fields', locals: { f: item_fields } %>
    <% end %>
  </div>
  <div class="mb-3">
    <%= link_to 'Add Shipment Item', '#', id: 'add-shipment-item', class: 'btn btn-secondary' %>
  </div>

  <script type="text/template" id="shipment-item-template">
    <%= form.fields_for :shipment_items, ShipmentItem.new, child_index: 'NEW_RECORD' do |item_fields| %>
      <%= render partial: 'shipment_item_fields', locals: { f: item_fields } %>
    <% end %>
  </script>
  <script>
    var container = document.getElementById('shipment-items');
    var template = document.getElementById('shipment-item-template').innerHTML;
    document.getElementById('add-shipment-item').addEventListener('click', function(e) {
      e.preventDefault();
      var newId = new Date().getTime();
      var content = template.replace(/NEW_RECORD/g, newId);
      container.insertAdjacentHTML('beforeend', content);
    });
  </script>

  <div class="actions mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
